nav h2 ul li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 70px;
}
.DESTINATION{
    text-align: right;
}
body{
    background-image: url("arrierep.jpg");
}
